user_options.ini
fixes/Temp/Battlenet.txt
fixes/Temp/EADesktop.log
fixes/Temp/Epic.txt
fixes/Temp/GOG_Galaxy.log
fixes/Temp/Minecraft.log
fixes/Temp/Nvidia.log
fixes/Temp/Riot.log
fixes/Temp/Ryujinx_temp.txt
fixes/Temp/Steam.txt
fixes/Temp/steam2.log
fixes/Temp/0/Battlenet.txt
fixes/Temp/0/EADesktop.log
fixes/Temp/0/Epic.txt
fixes/Temp/0/GOG_Galaxy.log
fixes/Temp/0/Minecraft.log
fixes/Temp/0/Nvidia.log
fixes/Temp/0/Riot.log
fixes/Temp/0/Ryujinx_temp.txt
fixes/Temp/0/Steam.txt
fixes/Temp/0/steam2.log
fixes/Temp01/Battlenet.log
fixes/Temp01/GOG_Galaxy.log
fixes/Temp01/Minecraft.log
fixes/Temp01/Nvidia.log
fixes/Temp01/Riot.log
fixes/Temp01/Steam.log
gog_temp.log
test.ahk
test2.ahk
.vscode/launch.json
compiler/compiler.ahk
fixes/Logs.log
Scripts/Backup.ahk
Scripts/NVIDIA3.ahk
Scripts/Ryujinx.ahk
Scripts/Steam2.ahk
Temp/Battlenet.log
Temp/EADesktop.log
Temp/Epic.log
Temp/GOG_Galaxy.log
Temp/Minecraft.log
Temp/Nvidia.log
Temp/playnite.log
Temp/Riot.log
Temp/Steam.log
Temp/0/Battlenet.txt
Temp/0/EADesktop.log
Temp/0/Epic.txt
Temp/0/GOG_Galaxy.log
Temp/0/Minecraft.log
Temp/0/Nvidia.log
Temp/0/Riot.log
Temp/0/Ryujinx_temp.txt
Temp/0/Steam.txt
Temp/0/steam2.log
UI/Background.jpg
UI/Button01.png
UI/Path01.png
desktop.ini
Temp/0/Steam.log
Temp/0/Playnite.log
Temp/0/Epic.log
Temp/0/Battlenet.log
Temp/Ubisoft.log
Temp/0/Ubisoft.log
api.steampowered.com.json
fixes/Temp/Battlenet.log
fixes/Temp/Epic.log
fixes/Temp/Playnite.log
fixes/Temp01/Playnite.log
fixes/Temp/Steam.log
fixes/Temp/Ubisoft.log
.gitignore
fixes/Temp01/bla.ahk
Temp/temp2.log
Temp/temp.log
fixes/Temp01/Battlenet mais un autre.txt
fixes/Temp01/battlenet_other.txt
blizzard_data.html
fixes/Temp01/EADesktop.log
fixes/Temp01/Epic.log
gdpr_final_ae928584-f3e2-44be-a60a-3028b2c6eb25_blizzard_data.7z
fixes/Temp01/gog_other.txt
fixes/Temp01/minecraft_other.txt
Temp/OBS.log
fixes/Temp/playnite.txt
fixes/Temp01/steam_other.txt
fixes/Temp01/Ubisoft.log
Temp/zCombined.log
fixes/Temp/zCombined.log
fixes/Temp01/zCombined.log
Scripts/zzcombine.ahk
Temp/0/OBS.log
Temp/0/zCombined.log
